[user]
	name = Yoann Renard
	email = renard.yoann@gmail.com
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitignore
[http]
	sslVerify = false
[alias]
	ci      = commit
	di      = diff
	difc    = diff --word-diff=color
	sdi     = diff --staged
	st      = status
	sta     = stash
	br      = branch
	co      = checkout
	cp      = cherry-pick
	cat     = cat-file -p
	lga     = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%an %cd)%Creset' --abbrev-commit --date=short
	lg      = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
	ll      = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	authors = shortlog -sn --no-merges
	brd     = !git branch --merged | grep -v master | xargs git branch -d
	wip     = !git add -A && git ci -m 'WIP'
	rsup    = !git fetch upstream && git reset --hard upstream/master
	logx    = log --graph --pretty=format:'%C(bold white)%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
	unstage = reset HEAD --
	last    = log -1 HEAD
	mwps    = push -o merge_request.create -o merge_request.merge_when_pipeline_succeeds
	fix     = "!f() { git commit -a --fixup=$(git log --no-merges --pretty=format:'%H %s' | grep -v '^.* fixup!' | head -n1 | cut -d' ' -f1); }; f"
	sync    = "!f() { git pull origin $(git rev-parse --abbrev-ref HEAD); }; f"
	abort   = "!f() { git rebase --abort 2>/dev/null || git cherry-pick --abort 2>/dev/null || git merge --abort 2>/dev/null || git revert --abort 2>/dev/null || echo 'Nothing to abort.'; }; f"
    continue = "!f() { git rebase --continue 2>/dev/null || git cherry-pick --continue 2>/dev/null || git merge --continue 2>/dev/null || git revert --continue 2>/dev/null || echo 'Nothing to continue.'; }; f"
	die     = "!f() { git restore --staged . && git restore . && git clean -df; }; f"
    self    = "!f() { \
    base=$(git log --grep='^fixup!' --invert-grep --pretty=format:'%H' | head -n1); \
    if [ -z \"$base\" ]; then echo 'No base commit found'; exit 1; fi; \
    git rebase -i $base^; \
  }; f"
    wta     = "!f() { git worktree add -b "$1" "../$1"; }; f"
    wtr     = "!f() { git worktree remove "../$1"; }; f"
    wtl     = "!f() { git worktree list; }; f"
    wtpr    = "!f() { git worktree prune; }; f"

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[pull]
	rebase = true
[push]
	default = current
[diff]
	wordRegex = .
	compactionHeuristic = true
	indentHeuristic = on
[log]
	abbrevCommit = true
[rebase]
	autosquash = true
	autostash = true
[help]
	autocorrect = 1
[init]
	defaultBranch = main

[includeIf "gitdir:/Volumes/workspace/emeria/millenium/"]
	path = /Volumes/workspace/emeria/.gitconfig
